
/*универсальный селектор (применяется ко всем элементам страницы*/
* {
    margin: 0; /*внешний отступ*/
    padding: 0; /*внутренний отступ*/
    box-sizing: border-box;
}
body {
    font-family: 'Playfair Display', serif;
    background-color: #f5f5f5f5;
    color: #cf3434;
    padding: 20px; /*отступ со всех сторон*/
    max-width: 1200px; /*максимаоьная ширина страницы*/
    margin: 0 auto;
}
/*шапка страницы*/
header {
    background-color: white;
    padding: 20px 40px;
    margin-bottom: 30px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(135, 16, 16, 0.05); /*тень*/
}
/*заголовок*/
header h1 {
    font-size: 28px;
    font-weight: 700;
    color: #2c3e50;
}
/*навигация*/
nav {
    display: flex;
    gap: 25px;
}

nav a {
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 500;
    color: #555;
    transition: color 0.3s; /*плавное изменение цвета*/
}
/*для изменения цвета ссылок*/
nav a:hover {
    color: #e74c3c;
}
section {
    background-color: white;
    padding: 30px 40px;
    margin-bottom: 30px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}
/*подзаголовок*/
h2 {
    font-size: 24px;
    font-weight: 700;
    color: #2c3e50;
    margin-bottom: 20px;
}
/*изображение*/
img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}
/*абзацы текста*/
p {
    font-size: 16px;
    font-weight: 400;
    color: #555;
    line-height: 1.6;
}
/*список*/
ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    font-size: 16px;
    font-weight: 400;
    color: #555;
    padding: 8px 0;
    padding-left: 25px;
    /*красные галочки*/
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="%23e74c3c" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"></polyline></svg>') left center no-repeat;
    background-size: 16px;
}
/*таблица*/
table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    text-align: left;
}
th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}
th {
    background-color: #f8f9fa;
    font-weight: 700;
    color: #2c3e50;
}
td {
    color: #555;
}
/*футер*/
footer {
    background-color: black;
    color: white;
    padding: 30px 40px;
    border-radius: 12px;
    margin-top: 10px;
}
footer p {
    color: white;
    margin: 5px 0;
    font-size: 15px;
}
footer a {
    color: #ffccbc;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
}
footer a:hover {
    color: white;
    text-decoration: underline;
}